
@media screen and (max-width: 400em){


   body{
       /*background-image: url("images/black.png");*/
       background-color: #2c3238;
       font-family: "Arial Rounded MT Bold"
   }
    html{
        color: white;
    }
    /*
dice-pane, øverste firkant
*/
    .dicegroup, #results{
        padding: 2em 1em 0.5em 1.5em;
        /*border: 2px solid black;*/
        width: 28em;
        margin: 1em 1em 1em 1em;
        position: absolute;
        top:8em;
        bot:auto;
        left:40em;
        right:0;
        border-radius: 0.4em;


    }

    /*
   Results-pane, nederste firkant
    */
    #results{
        top:19.5em;
    }

    .info, .guide{
        padding: 0px 1em 0em 2em;
        /*border: 2px solid black;*/
        width: 35em;
        margin-top: 0em;
        border-radius: 0.4em;
        position:absolute;
        top:0;
        bot:auto;
        left:0.5em;

    }

    .guide{
        top: 38em;
    }



    .rules{
        font-weight: bold;
        font-size: 3em;
    }
    .logo img{
        position: absolute;
        left: 40em;
        margin-top: 1em;

    }


    .die{
        display: inline-block;
        margin-right: 1.3em;
        padding-right: 0.3em;
        padding-top: 0;
        margin-top: 0;
    }

    .die img{
        width: 3.5em;
        height: 3.5em;
        border: 1px solid black;
        border-radius: 0.4em;
    }

    .roll{
        display: inline-block;
        float: right;
        padding: 0em -2em 2em -2em;
        margin: -2.8em 3em 0 0;
    }


    /*
    Labels til resultater
     */
    .labels{
        margin: 0 -0.2em -0.6em 0em;
    }

    /*
    Elementer der skal hæftes til højre
     */
    .right{
        float: right;
        padding-left: 2.5em;
        padding-right: 0.6em;
    }


    /*
    result forms(textfields), ikke total/bonus/sum
     */
    .input, .results{
        padding: 0.1em 0.1em 0.1em 0.1em;
        width: 1.5em;
        text-align: center;
        display: inline-block;
    }
    /*
    alle textfields
     */
    .input{
        float: right;
        margin-left: 3.4em;
        margin-right: 1em;
    }
    /*
    alle results
     */
    .results{
        margin-left: 8em;
        position: relative;
        top: -0.45em;
        border: 1px solid lightgray;

    }

    /*
    En terning der er holdt
     */
    .held{

        background-color: lightslategray;
        border-radius: 0.4em;

        /**/
        /*background-size: 10% 10%;*/
        /*background: linear-gradient(right, red 0, red 100%, transparent 75%);*/

    }
    /*
    Et result-field der er gemt
     */
    .locked, .fakelock{
        background-color: indianred;
    }

    .invis{
        display: none;
    }

    li{
        margin-bottom: 0.5em;
        margin-left: -20px;
    }
}

