
@media screen and (max-width: 400em){
    /*
dice-pane, øverste firkant
*/
    .dicegroup{
        padding: 2em 1em 0.5em 1.5em;
        border: 1px solid black;
        width: 28em;
        margin: 1em 1em 1em 1em;
    }

    /*
    Results-pane, nederste firkant
     */
    #results{
        margin: 1em 1em 1em 1em;
        padding: 2em 1em 2em 1.5em;
        border: 1px solid black;
        width: 28em;
    }



    .die{
        display: inline-block;
        margin-right: 1.3em;
        padding-right: 0.3em;
        padding-top: 0;
        margin-top: 0;

    }

    .die img{
        width: 3.5em;
        height: 3.5em;
        border: 1px solid black;
    }

    .roll{
        display: inline-block;
        float: right;
        padding: 0em -2em 2em -2em;
        margin: -2.8em 3em 0 0;

    }


    /*
    Labels til resultater
     */
    .labels{
        margin: 0 -0.2em -0.6em 0em;

    }

    /*
    Elementer der skal hæftes til højre
     */
    .right{
        float: right;
        padding-left: 2.5em;
        padding-right: 0.6em;
    }


    /*
    result forms(textfields), ikke total/bonus/sum
     */
    .input, .results{
        padding: 0.1em 0.1em 0.1em 0.1em;
        width: 1.5em;
        text-align: center;
        display: inline-block;
    }
    /*
    alle textfields
     */
    .input{
        float: right;
        margin-left: 3.4em;
        margin-right: 1em;
    }
    /*
    alle results
     */
    .results{
        margin-left: 8em;
        position: relative;
        top: -0.45em;
        border: 1px solid lightgray;

    }

    /*
    En terning der er holdt
     */
    .held{

        background-color: red;

        /**/
        /*background-size: 10% 10%;*/
        /*background: linear-gradient(right, red 0, red 100%, transparent 75%);*/

    }
    /*
    Et result-field der er gemt
     */
    .locked{
        background-color: rgba(54, 25, 25, 0.2);
    }
    .fakelock{
        background-color: rgba(54, 25, 25, 0.3);
    }

    .invis{
        opacity: 0;
    }
}

